<!--展示所有学员信息页面-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>展示学生信息</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">显示学生信息</a>
        </div>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>学生信息</h1>
    </div>
    <a href="/addStudent" class="btn btn-primary">添加学员</a>
    <table id="table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="" data-field="id">
                    <div class="th-inner ">学号</div>

                </th><th style="" data-field="name">
                    <div class="th-inner ">姓名</div>
                </th>
                <th style="" data-field="price">
                    <div class="th-inner ">年纪</div>
                </th>
                <th style="" data-field="price">
                    <div class="th-inner ">性别</div>
                </th>
                <th style="" data-field="price">
                    <div class="th-inner ">生日</div>
                </th>
                <th style="" data-field="price">
                    <div class="th-inner ">操作</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < results.length; i++) { %>
                <tr data-index="0">
                    <td style=""><%= results[i].id%></td>
                    <td style=""><%= results[i].name%></td>
                    <td style=""><%= results[i].age %></td>
                    <td style=""><%= results[i].sex %></td>
                    <td style=""><%= results[i].birth %></td>
                    <td>
                        <a class="btn btn-primary" href="/update/<%= results[i].id%>">编辑</a>
                        <a class="btn btn-danger" href="/delStudent/<%= results[i].id%>">删除</a>
                    </td>
                </tr>
            <%  } %>
        </tbody>
    </table>
</div>


</body>
</html>
